@charset "utf-8";
/* CSS Document */

#about{
	max-width:1100px;
	height:auto;
	margin:auto;
	padding:50px 0;
	text-align:justify;
}

#about h3{
	color:red;
	font-weight:bold;
}

#about span{
	color:red;font-weight:bold;
}

#about table p{
	font-weight:bold;
}

#about table tbody tr td{
	width:300px;
}

#about #ratings img{
	width:95%;
	height:auto;
	margin:auto;
	border:2px solid black;
	border-radius:1px;
}
#about #ratings #speech{
	float:none;
	width:100%;
}

#about #ratings #speech {
}

#about #ratings #speech  p{
	text-align:justify;
	margin-top:10px;
	font-size:12pt;
}

#about div:first-child{
	float:left;width:60%;
}

#about div:last-child{
	float:right;width:35%
}